/*component*/
h5{
    margin: 0;
}
.text-center {
    text-align: center;
}
.text-white{
    color: white;
}
.bg-gray-200{
    background-color: #eaeaea;
}
.bg-blue-600{
    background-color: blue;
}
.hover-bg-blue-800:hover{
    background-color: darkblue;
}
.bg-yellow-400{
    background-color: yellow;
}
.bg-orange-600{
    background-color: orange;
}
.hover-bg-orange-800:hover{
    background-color: darkorange;
}
.bg-white{
    background-color: white;
}
.my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mx-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
}
.mt-2{
    margin-top: 0.5rem;
}
.px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-4{
    padding: 0 1rem;
}
.py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-2{
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
}
.flex{
    display: flex;
    padding: 5px 10px;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    justify-items: center;
}
.gap-2{
    margin: 10px 20px;
}
.basis-1{
    width: 50%;
    padding: 5px;
}
.border {
    border: 1px solid;
}
.border-2 {
    border: 2px solid;
}
.border-white{
    border: 1px solid white;
}
.border-white-2{
    border: 2px solid white;
}
.border-gray-400{
    border: 1px solid #EAEAEA;
}
.rounded-xs{
    border-radius: 5px;
}
.rounded-lg{
    border-radius: 15px;
}
.h-12{
    height: 120px;
}
.hidden {
    display: none;
}

/*html*/

body{
    margin: 0;
    /*background-color: black;*/
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: blue;
    height: 2rem;
}
.container{
    height: fit-content;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.content{
    width: 1000%;
    margin-top: 50px;

}
